<div class="container">
  <%= simple_form_for (@profile) do |p| %>
    <%= p.input :phone, label: "Phone number" %>
    <%= p.input :avatar, label: "Photo" %>
    <%= p.input :description, label: "Special details" %>
    <%= p.button :submit %>
  <% end %>
</div>


