<div class="container">

  <h1>Info needed to continue</h1>
  <%= simple_form_for (@profile) do |p| %>
    <%= p.input :phone, label: "Phone number" %>
    <%= p.input :avatar, label: "Profile photo" %>
    <%= p.input :description, label: "Special details" %>
    <%= p.button :submit, "Confirm" %>
  <% end %>
</div>
