<%# cl_image_tag @profile.avatar, height: 300, width: 400, crop: :fill %>
 <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h6>Name:</h6>
        <p><%= current_user.fullname %></p>
        <p><i class="fa fa-envelope fa-fw"></i><%= @profile.phone%></p>
        <p><i class="fa fa-phone fa-fw"></i>1224435534</p>
        <h6>Special details:</h6>
        <p><%= @profile.description%></p>
        <button><%= link_to "Edit profile", edit_profile_path(current_user.profile.id)%></button>
      </div>
      <div class="col-lg-6">
         <% if @profile.avatar.blank? %>
           <img src="https://openclipart.org/download/277089/Female-Avatar-5.svg" style="width:100%;height: 200px" alt="Avatar">
         <% else  %>
          <div>
            <%= image_tag(@profile.avatar,:style => "margin-top: 15px;border-radius: 5px;width:200px;height:200px;") %>
          </div>
         <% end%>
      </div>
    </div>

    <div class="row">
          <h2><i class="fa fa-suitcase fa-fw"></i>Bookings</h2>
        <% if !current_user.reservations.blank? %>
          <% for reservation in current_user.reservations.sort_by{|reservation| reservation.start}%>
          <div class="col-lg-3">
          <h5><b>Price: <%=reservation.total_cost%>€</b></h5>
          <h6><i class="fa fa-calendar fa-fw"></i><%=reservation.start%> - <%=reservation.end%></h6>
          <h5>Contact parking space owner:</h5>
          <h6><%= reservation.user.fullname%></h6>
          <h6><%= reservation.space.user.email%></h6>
          <button><%= link_to "Cancel booking", reservation_path(reservation.id), method: :delete %></button>
        </div>

          <% end %>
        <% else %>
          <h3>There are no bookings.</h3>
        <% end %>

    </div>


      <div class="row">
        <% if !current_user.spaces.blank? %>
        <h2><i class="fa fa-car fa-fw"></i>Your Parking Spaces</h2>
          <% for space in current_user.spaces.sort_by{|space| space.parking_type}%>
          <div class="col-lg-3">
          <h5><b>Price: <%=space.price%>€</b></h5>
          <h6>rating:<%=space.avg_rating%>/100</h6>
          <% if !space.reservation.nil? %>
            <h6><%=space.reservation.user.fullname%></h6>
            <h6>reservation starts:<%=space.reservation.start%></h6>
            <h6>reservation ends:<%=space.reservation.end%></h6>
          <% end %>
          <button><%= link_to "Delete", space_path(space.id), method: :delete %></button>
        </div>

          <% end %>
        <% else %>
          <h3>You have no parking spaces.</h3>
        <% end %>

    </div>

  </div>
