<div class="map_box">
  <h3>Price: £<%= space.price %></h3>
  <p>Address: <%= space.address %></p>
  <p>Parking Type: <%= space.parking_type %></p>
  <%= cl_image_tag space.photo, height: 300, width: 400, crop: :fill %>

  <%= link_to "Book", space_reservations_path(space), method: :post, target: :blank, class: "btn btn-warning" %>
</div>
