<div class="map_box">


   <% unless space.photo.url %>
   <%# cl_image_tag "v1520370914/non_existing.jpg", :width => 100, :height => 100, :crop => :fill %>

  <% else %>
    <%# cl_image_tag space.photo, :width => 100, :height => 100, :crop => :fill %>
  <% end %>
  <h3>Price: <%= space.price %>€</h3>

  <p>Address: <%= space.address %></p>
  <p>Owner: <%= space.user.fullname %></p>
  <p>Parking Type: <%= space.parking_type %></p>


  <%= link_to "Book", space_reservations_path(space), method: :post, class: "btn btn-success" %>


</div>
