 <form class="search-form" action=<%=spaces_path%> style="display:none">
    <div class="search-form-top">
      <input type="text" name="location" id = "search-input" value=<%=params[:location]%> class="location-input">
      <input type="date" name="start" value=<%=params[:start]%>>
      <input type="date" name="end" value=<%=params[:end]%>>
      <div id="distance">Distance: <span id="demo"></span></div>
      <input type="submit" value="SEARCH" class="button">
    </div>

    <div class="slidecontainer_spaces">
      <input type="range" name="distance" min="1" max="2000" value="1000" class="slider" id="myRange">
    </div>
  </form>


<div
  id="map"
  style='width: 100%;
  height: calc(80vh - 70px);'
  data-markers="<%= @markers.to_json %>"
></div>


<div class="container">
  <h1>CLOSEST PARKING SPACES</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">

          <% @spaces.each_slice(3).with_index do|group, i| %>
              <div class="item <%= 'item active' if i.zero? %>">
            <% group.each do |space| %>
                <div class="col-xs-4">
                  <div class="carousel-info">
                    <%= link_to "BOOK", space_reservations_path(space), method: :post, class: "btn btn-success btn-xs" %>
                  </div>


                    <div class="img-responsive">
                      <% unless space.photo.url %>
                        <%= cl_image_tag "v1520370914/non_existing.jpg" %>
                      <% else %>
                        <%= cl_image_tag space.photo%>
                      <% end %>
                    </div>
                </div>
            <% end %>
              </div>
          <%end%>
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>




<script>

document.addEventListener("DOMContentLoaded", function(event) {
    document.querySelector(".search-button").style.display = "inline";
  });


</script>
