<div class="create_parking_page">
  <%= simple_form_for @space, :html=> { class: 'foobarbaz' } do |f| %>
    <%= f.input :address, :input_html => {
          :id => "location-input"
        }%>
    <%= f.input :price, :input_html => {
          :id => "location-input"
        }%>
    <%= f.input :parking_type, :id => 'location-input' %>
    <%= f.input :photo %>
    <%= f.submit 'CREATE', :class => 'button'%>
  <% end %>
</div>

