<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag "logo.png", class: "logo" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

    <div class="navbar-wagon-item">
      <%= link_to t(new_space_path, default: "+ post a park"), new_space_path, class: "navbar-wagon-item navbar-wagon-link" %>

       <div class="search-button">          
        <button onclick="hideSearch()" class="navbar-wagon-item navbar-wagon-link" style="border:none; background-color:#3C3C3C"><i class="fa fa-search" style="margin-right: 10px" aria-hidden="true"></i>  search</button>
       </div>

      <%= link_to destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete do %>
        <%= t(".sign_out", default: "logout") %>
      <% end %>

        <%= link_to profile_path(current_user.id) do %>

            <% if !current_user.avatar.blank? %>
              <%= image_tag current_user.avatar, class: "avatar dropdown-toggle"%>
            <%else%>
              <%= image_tag "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909__340.png", class: "avatar dropdown-toggle"%>
            <%end%>
        <% end %>

    </div>



    <% else %>
      <!-- Login link (when logged out) -->

      <%= link_to t(".sign_in", default: "login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      |

<button onclick="hideSearch()" style="border:none; background-color:#3C3C3C"><i class="fa fa-search" aria-hidden="true"></i></button>


      <div class="search-button">
      |
<button onclick="hideSearch()" style="border:none;
  background-color:#3C3C3C;"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
      |


      <%= link_to "how it works", about_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <% if !current_user.nil? %>
            <li><%= link_to t(profile_path(current_user.id), default: "My profile")%>
          <% end %>
          <li><%= link_to t(new_space_path, default: "Create new parking"), new_space_path %>
          </li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path%>
          </li>
          <li><%= link_to "Find a space", root_path%>
          </li>
          <li><%= link_to "How it works", about_path%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
