<div class="about-screen">
  <div class="banner-about">
    <div class="section-content">
    <h2 class="home-title" style="font-size: 120px; text-align: center;">
    <u>PARKIT</u>
    </h2>
     <h3 class="section-para">
      Find a great place to park instantly
    </h3>
  </div>
</div>
<div class="section">
  <div class="section-content">
    <h2 class="home-title" style="font-size: 60px">How it works</h2>
    <h4 class="section-para">
      Book parking spaces where you need them, when you need them, from verified local parking space owners.
    </h4>
    <div class="features">
      <div class="feature">
        <div class="feature-avatar">
          <%= image_tag 'https://cdn4.iconfinder.com/data/icons/hotel-facilities-2/512/parking2-512.png', :class => "logo-title-icon" %></i>
        </div>
        <h4 class="feature-title">Easy Parking</h4>
        <p class="feature-para">Find available parking spacing by location and date.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar">
          <%= image_tag 'city-car.png', :class => "city-car-icon" %></i>
        </div>
        <h4 class="feature-title">Commuters & Travelers</h4>
        <p class="feature-para">Spaces available in your town and around globe.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar">
          <%= image_tag 'check-square.svg', :class => "check-square-icon" %></i>
        </div>
        <h4 class="feature-title">Safe Renting</h4>
        <p class="feature-para">Reserve spaces from verified users and get in touch with them.</p>
      </div>
      <div class="feature">
        <div class="feature-avatar">
          <%= image_tag 'calendar-alt.svg', :class => "calendar-square-icon" %></i>
        </div>
        <h4 class="feature-title">Reserve for a trip</h4>
        <p class="feature-para">Reserve your space up to a month before you need it!</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div style="background-color: #cbd6d4; padding-top: 4%; padding-bottom: 4%">
    <h1>USING PARKIT</h1>
    <div class="row" style="margin: 2%;">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p style="text-align:left; padding: 20px;word-spacing: 10px;">
          Parkit is an action-based community parking platform with the goal of preventing parking nightmares all over the world. With Parkit, finding a great place to park your vehicle is easy anywhere in the world.
        </p>
        <hr>
        <p style="text-align:left; padding: 20px;word-spacing: 10px;">
          Quickly search for parking spaces by location and date and see exactly where available parking spaces are located on our map. With each result, you'll have access to the address of the parking space, pictures of the space, and contact information of the parking space owner.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p style="text-align:left; padding: 20px;word-spacing: 10px;">
          As a user, you can reserve a parking space offered by a fellow parkit users and you can contribute by posting your own private parking spaces for other users to reserve. Parking is a hassle, organize and park with ease.
        </p>
        <hr>
        <p style="text-align:left; padding: 20px;word-spacing: 10px;">
          Stop wasting time looking for parking spaces and stop breaking your bank account with outrageous parking
          prices. No more driving around neighborhoods and city centers endlessly looking for a place to park. Join the parkit community to end parking nightmares!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 4%;">
    <div>
      <h3>Stay up to date with PARKIT News!</h3>
    </div>
    <div>
      <%= form_for @subscription, :url => subscriptions_path do |f| %>
        <%= f.text_field :email, placeholder: "Enter your email" %>
        <%= f.submit "subscribe" %>
      <% end %>
    </div>
  </div>
</div>

